*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #EAE2B7;
	font-family: 'Roboto', Arial, sans-serif;
	color: #003049;
	scroll-behavior: smooth;
}

header {
	margin-bottom: 50px;
    background-color: #D62828;
	display: flex;
	justify-content: space-around;
	

	padding-top: 1vw;
	padding-bottom: 1vw;
	

	.logo {

	}

	.nav {
		
		&__list{
			list-style: none;
		}
		&__item{}
		&__link{}
	}

	.theme-changer {
		border: none;
		border-radius: 8%;
		height: 3vw;
		padding-left: 1vw;
		padding-right: 1vw;
		background-color: #003049;
		font-size: 20px;
		font-weight: 400;
		color: #EAE2B7;
		transition: ease-in-out 0.4s;

		&:hover {
			
			
			background-color: #060c0f;
		}

		&:active {
			padding-left: 1.1vw;
			padding-right: 1.1vw;
			background-color: #D62828;
			color: #003049;
			box-shadow: 0 0 10px rgba(0,0,0,0.5);;
		}
		
	}
}

h1 {text-align: center;
font-size: 30px;}

footer {
	margin-top: 60px;
	text-align: center;
	color: #EAE2B7;
	padding-top: 1vw;
	padding-bottom: 1vw;
	background-color: #003049;
}